# Avoid pushing zellij plugis to make it lighter
dotfiles/zellij/.config/zellij/plugins

# If building helix from source you will need to link runtime
dotfiles/helix/.config/helix/runtime

# clangd.sh artefact
./install/LSP/llvm.sh
dotfiles/yazi/.config/yazi/yazi.toml-*
dotfiles/yazi/.config/yazi/theme.toml-*
